{% extends 'shop/inherit.html' %}


{% block title %} CheckOut {% endblock %}



{% block body %}

<div class="checkout">
    <ol id="item_list" class="list-group">

    </ol>
</div>
<!-- // Para colocar os itens no formularios - django-admin -->

<section class="contact" id="contact">
    <h1 class="text-center">Preencha para Finalizar seu pedido</h1>
    <form method="POST" action="" class="form">
        {% csrf_token %}
        <input class="form-input" type="hidden" name="items" id="items" >  
        <input class="form-input" type="text" name="name" id="name" placeholder="Digite seu nome">
        <input class="form-input" type="text" name="phone" id="phone" placeholder="Digite seu telefone">
        <input class="form-input" type="email" name="email" id="email" placeholder="Digite seu email">
        <textarea class="form-input" name="address" id="address" cols="2" rows="2"
            placeholder="Digite seu endereço"></textarea>
        <label for="form-input">Total do carrinho</label>
        <input class="form-input" readonly="" type="text" name="total" id="total"  >
        <button type="submit" class="btncard">Faça seu pedido</button>
    </form>
</section>

{% endblock %}